.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.logo {
  width: 183px;
  height: 32px;  
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  width: 730px;
  margin: 0 0 0 64px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}    

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  min-height: 366px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits-title,
.digits-subtitle {
  width: 60%;
  text-align: center;
  margin: 0;
}

.digits-title {
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  margin-bottom: 20px;
}

.digits-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 100px;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
}

.feynman__subtitle,
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;    
}

.feynman__link {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  color: white;
  overflow: hidden;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.kaufman__section-title_theme_dark,
.kaufman__section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
}

.section-title_theme_dark {
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  margin: 0;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;  
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  bottom: -62px;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg); 
}

.footer {
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;  
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content_info {} /*В этом спринте этому классу стили не потребовались. Отсавляю здесь на всякий случай, вдруг пригодятся на следующем спринте.*/

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style: none;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-links a {
  text-decoration: none;
  color: white;
    
}

.footer__column_content_social {} /*В этом спринте этому классу стили не потребовались. Отсавляю здесь на всякий случай, вдруг пригодятся на следующем спринте.*/

.footer__social_icon {
  margin-right: 10px;
  margin-bottom: -1px;
}
